<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fly.com.happyloan" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/loan_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".Activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Me.Me_AboutActivity" >
        </activity>
        <activity android:name=".Activity.Me.BorrowCome.Me_BorrowComeActivity" >
        </activity>
        <activity android:name=".Activity.Me.Me_BorrowOutActivity" >
        </activity>
        <activity android:name=".Activity.Me.Me_ProfitActivity" >
        </activity>
        <activity android:name=".Activity.Me.Me_SincereActivity" >
        </activity>
        <activity android:name=".Activity.Me.Me_MoneyActivity" >
        </activity>
        <activity android:name=".Activity.Me.Me_SecurityActivity" >
        </activity>
        <activity android:name=".Activity.Me.Setting.SettingActivity" >
        </activity>
        <activity android:name=".Activity.Me.Setting.Setting_UpdateLoginPwdActivity" >
        </activity>
        <activity android:name=".Activity.Me.Setting.Setting_UpdateTradePwdActivity" >
        </activity>
        <activity android:name=".Activity.Me.Setting.Setting_GestureActivity" >
        </activity>
        <activity android:name=".Activity.Me.Setting.Setting_ChangePhoneNumActivity" >
        </activity>
        <activity android:name=".Activity.Me.Setting.Setting_PayActivity" >
        </activity>
        <activity android:name=".Activity.Me.Setting.Setting_MessageActivity" >
        </activity>
        <activity android:name=".Activity.Me.Setting.Setting_PrivacyActivity" >
        </activity>
        <activity android:name=".Activity.Me.Setting.Setting_ClearCacheActivity" >
        </activity>
        <activity android:name=".Activity.Me.Setting.Setting_FeedBackActivity" >
        </activity>
        <activity android:name=".Activity.Me.Setting.Setting_ProblemActivity" >
        </activity>
        <activity android:name=".Activity.Me.Setting.Setting_Pay_FreePwdMoneyActivity" >
        </activity>
        <activity android:name=".Activity.Me.PersonalInfo.Me_PersonalInfoActivity"/>
        <activity android:name=".Activity.Me.PersonalInfo.Me_AccountDetailsActivity"/>
        <activity android:name=".Activity.Me.PersonalInfo.Me_ScanActivity"/>
    </application>

</manifest>
